$blue-Marine: hsl(213, 96%, 18%);
$blue-Purplish: hsl(243, 100%, 62%);
$blue-Pastel: hsl(228, 100%, 84%);
$blue-Light: hsl(206, 94%, 87%);
$red-Strawberry: hsl(354, 84%, 57%);

$gray-Cool: hsl(231, 11%, 63%);
$gray-Light: hsl(229, 24%, 87%);
$Magnolia: rgb(240, 246, 255);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);